.bg-image{
    width: 100%;
    height:100%;
    position:fixed;
    opacity: 0.8;
}
.main-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem ;
    position: fixed;
    width: 100%;
    background-color: rgba(143, 29, 29, 0.2);
    color: white;
    height: 100%;
    font-family: 'Anek Latin', sans-serif;
}
.home-description{
    width: 50%;
    text-align: center;
}
.btn-game-list{
    padding: .5rem 2rem;
    border: 1px solid brown;
    background: transparent;
    cursor: pointer;
    font-family: 'Anek Latin', sans-serif;
    color: white;
    font-size: 20px;
}
.btn-game-list:hover{
    background: brown;
    color: white;
    transition: all 1s ease-out;
}



/* MEDIA */ 

/* MOBILE DEVICES */ 
@media screen and (min-width:320px) and (max-width: 480px){
  .home-description{
    width: 100%;
  }

}

/* iPADS, TABLETS */ 
@media screen and (min-width:481px) and (max-width: 768px){
    .home-description{
        width: 100%;
      }
}

